html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

* {
    user-select: none;
}

.container {
    height: 100%;
    width: 100%;
}

.controls {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1.5em 0 0 1.5em;
    padding: 0 0.5em 1em 0.5em;
    user-select: none;
    width: 150px;
}

.controls label, .controls input {
    display: block;
    margin: 0.25em auto;
}

.controls label {
    margin: 1.5em 0 0 0.5em;
}

.canvas {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: -1;
}
